tr.js-edit:hover {
    background-color: #428bca !important;
}
.js-edit:hover {
    background-color: #428bca;
}
.positive-msg-display {
  margin-bottom: 10px;
  text-align: center;
  color: green;
  font-weight: normal;
}
.negative-msg-display {
  margin-bottom: 10px;
  text-align: center;
  color: red;
  font-weight: normal;
}

.scheduleItem {
    padding: 10px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.detail{
    position:inherit;
    float: right;
    padding: 1em;
}
.detailBtn {
    position: relative;
}